---
import Arrow from '../assets/arrow.svg';
---

<section data-aos="fade-up" data-aos-duration="800" data-aos-anchor-placement="center-bottom" class="container text-center px-4 xl:px-0 mx-auto flex flex-col items-center justify-center h-[calc(100vh-58px)] gap-y-2">
    <h1 class="text-4xl font-bold inline-flex flex-wrap gap-x-3">Hello, I'm<span class="text-accent font-semibold inline-flex"> Ruby.</span></h1>
    <p class="text-lg text-decoration">I'm a student at Leeds Arts University, and I study photography.</p>
    <a href="#personal-work" class="motion-safe:animate-bounce size-8 text-accent rounded-full flex items-center justify-center">
        <Arrow class="w-6 h-6" />
    </a>
</section>
