---
import Arrow from '../assets/arrow.svg';
import BubbleText from './BubbleText.astro';
---

<section
  data-aos='fade-up'
  data-aos-duration='800'
  data-aos-anchor-placement='center-bottom'
  class='w-200 text-center px-4 xl:px-0 mx-auto flex flex-col items-center justify-center h-[calc(100vh-58px)] items-center gap-y-2'
>
  <h1 class='text-4xl font-bold inline-flex items-center gap-x-3 text-gray-800 dark:text-white whitespace-nowrap'>
    Hello, I'm <BubbleText text="Ruby" />
  </h1>
  <p class='text-lg text-gray-700 dark:text-white'>
    I'm a student at Leeds Arts University, and I study photography.
  </p>
  <a href='#personal-work' aria-label='Scroll down to personal work' class='flex items-center justify-center'>
    <Arrow
      class='size-8 motion-safe:animate-bounce text-rose dark:text-pink rounded-full transition-colors duration-300 hover:bg-rose hover:text-white dark:hover:bg-pink dark:hover:text-white'
    />
  </a>
</section>
