<nav
  class='sticky top-0 z-50 font-medium container px-4 xl:px-0 mx-auto bg-white'
>
  <ul
    class='flex justify-evenly gap-x-4 items-center sm:max-w-1/4 w-full text-slate-800 mx-auto py-4 w-fit'
  >
    <li>
      <a href='/' class='group transition duration-300'>
        Home
        <span
          class='block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-[var(--color-rose)]'
        ></span>
      </a>
    </li>
    <li>
      <a href='/about' class='group transition duration-300'>
        About
        <span
          class='block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-[var(--color-rose)]'
        ></span>
      </a>
    </li>
    <li>
      <a href='/contact' class='group transition duration-300'>
        Contact
        <span
          class='block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-[var(--color-rose)]'
        ></span>
      </a>
    </li>
  </ul>
</nav>
