---
import Placeholder from '../assets/placeholder.jpg';
const personalWork = [
  {
    title: 'Project 1',
    description: 'Description 1',
    image: Placeholder,
  },
  {
    title: 'Project 2',
    description: 'Description 2',
    image: Placeholder,
  },
  {
    title: 'Project 3',
    description: 'Description 3',
    image: Placeholder,
  },
  {
    title: 'Project 4',
    description: 'Description 4',
    image: Placeholder,
  },
  {
    title: 'Project 5',
    description: 'Description 5',
    image: Placeholder,
  },
  {
    title: 'Project 6',
    description: 'Description 6',
    image: Placeholder,
  },
];
---

<div id='personal-work' class='min-h-[100dvh] w-full flex items-center justify-center'>
  <div class='w-full md:max-w-200 px-4 xl:px-0 mx-auto'>
    <section
      data-aos='fade-right'
      data-aos-duration='800'
      data-aos-anchor-placement='center-bottom'
      class='w-fit flex flex-col items-start justify-start mb-6'
    >
      <h1 class='text-3xl md:text-4xl font-bold mb-2 text-gray-800 dark:text-white'>
        My Personal Work
      </h1>
      <h2 class='text-base md:text-lg text-rose dark:text-pink font-semibold'>Earth's essence</h2>
    </section>
    <div
      class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-items-center justify-content-center gap-10 pb-10'
    >
      {
        personalWork.map((project, index) => (
          <div
            data-aos='fade-right'
            data-aos-duration='800'
            data-aos-anchor-placement='bottom-bottom'
            data-aos-delay={index * 100}
          >
            <figure class='w-full h-full md:w-60 md:h-60 text-gray-800 dark:text-white md:transition md:duration-300 md:ease-in-out md:hover:-translate-y-2 rounded-lg shadow-lg md:hover:shadow-xl'>
              <img src={project.image.src} alt={project.title} class='w-full h-full object-cover rounded-lg' />
              <figcaption class='text-center text-sm mt-1.5 text-rose dark:text-pink font-semibold'>
                {project.title}
              </figcaption>
            </figure>
          </div>
        ))
      }
    </div>
  </div>
</div>
