<div class='min-h-[100dvh] w-full overflow-hidden flex items-center justify-center'>
  <div class='w-full md:max-w-200 px-4 xl:px-0 mx-auto'>
    <section
      data-aos='fade-left'
      data-aos-duration='800'
      data-aos-anchor-placement='center-bottom'
      class='flex flex-col items-end justify-end mb-6'
    >
      <h1 class='text-3xl md:text-4xl font-bold mb-2 text-gray-800 dark:text-white'>
        My Video Work
      </h1>
      <h2 class='text-base md:text-lg text-rose dark:text-pink font-semibold'>Video work</h2>
    </section>
    <div
      data-aos='fade-left'
      data-aos-duration='800'
      data-aos-anchor-placement='bottom-bottom'
      class='rounded-lg overflow-hidden shadow-xl w-full'
    >
      <iframe
        class='w-full aspect-video'
        src='https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?si=7UwmbsvfMvX8g_4g'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        referrerpolicy='strict-origin-when-cross-origin'
        allowfullscreen></iframe>
    </div>
  </div>
</div>
